@media (prefers-color-scheme: light) {
  :root {
    --border: #B4AB9F;
    --shadow: #AAAAAA;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --border: #3D3328;
    --shadow: #0d0d0d;
  }
}

#photoCard {
  border-radius: 20px;
  width: 360px;
  height: 345px;
  /*box-shadow: 0px 0px 6px #AAAAAA;*/
  position: relative;
  transition: all 0.15s ease-in-out;
  position: relative;
  text-align: center;
  color: white;
}

#photoCard .pic:hover {
  box-shadow: 0px 0px 6px var(--shadow);
  transition: all .2s ease-in-out;
}

#photoCard .pic {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border-color: var(--border);
  border-width: 1px;
  border-style: solid;
  object-fit: cover;
}

@media only screen and (max-width:767px) {
  html, body{
    width: 100%;
    overflow-x: hidden;
  }

  #photoCard {
    width: 240px;
    height: 230px;
  }
  .secondary{
    visibility: collapse;
  }

}