@media (prefers-color-scheme: light) {
  :root {
    --background: #F7F3ED;
    --text: #000000;
    --border: #B4AB9F;
    --bar: #000000;
    --shade: #F2ECE3;
    --shadow: #AAAAAA;
    --select: #E6DBCC;
    --selected: #B59C7B;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2B2521;
    --text: #E6CFB3;
    --bar: #E6CFB3;
    --border: #3D3328;
    --shade: #241F1A;
    --shadow: #0d0d0d;
    --select: #3D3328;
    --selected: #5C4F3D;
  }
}

h1, h2, p{
  color: var(--text);
}

html {
  zoom: 90%;
}

@font-face {
  font-family: 'CascadiaCode';
  src: url('fonts/CascadiaCode.ttf');
}

@font-face {
  font-family: 'karla';
  src: url('fonts/Karla.ttf');
}

body {
  margin: auto;
  font-family: sans-serif;
  min-height: 100vh;
  background: var(--background);
  -webkit-font-smoothing: antialiased
}

.content {
  max-width: 1200px;
  margin: auto;
}

p {
  font-size: 22px;
  font-family: karla;
}

h1 {
  font-size: 56px;
  font-family: CascadiaCode;
}

h2 {
  font-size: 36px;
  font-family: CascadiaCode;
}

#profile {
  border-radius: 20px;
  width: 257px;
  height: 257px;
  border-color: var(--border);
  border-width: 2px;
  border-style: solid;
  /* box-shadow: 0px 0px 6px #AAAAAA; */
  background-image: url('pic.jpeg');
  background-size: cover;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  margin-top: -15px;
  /**margin-left:13px;**/
}

#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--shade);
  color: var(--text);
  height: 80px;
  margin-top: 40px;
}

#announcment {
  font-size: 18px;
  margin-top: -22px;
  left: 0;
  width: 100%;
  background-color: #ffaf7a;
  color: var(--text);
  height: 80px;
}

#bar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: var(--bar);
}

#navbar {
  color: var(--text);
  font-family: karla;
  text-decoration: none;
  font-size: 36px;
  margin: 50px;
  font-weight: 2px;
}

#newCard {
  border-color: var(--border);
  border-width: 1px;
  border-style: solid;
  background-color: var(--shade);
  height: 135px;
  width: 350px;
  border-radius: 20px;
  font-family: karla;
}

#newCard:hover {
  box-shadow: 0px 0px 6px var(--shadow);
  transition: all .2s ease-in-out;
}

#newCard h1 {
  font-family: karla;
  margin-top: 23px;
  color: var(--text);
  font-size: 26px;
  font-weight: bold;
  margin-left: 25px;
}

#newCard p {
  font-family: karla;
  color: var(--text);
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -6px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--text);
}

#newCard a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#nav_option {
  margin-right: 40px;
  text-decoration: none;
}

#nav_option:hover {
  text-decoration: underline;
}

p a:link {
  color: var(--text);
  background-color: var(--shade);
}

p a:visited {
  color: var(--text);
  background-color: var(--shade);
}

p a:hover {
  background-color: var(--select);
}

p a:active {
  background-color: var(--selected);
}

a {
  transition: color .1s ease-in-out, background .1s ease-in-out;
  text-decoration: none;
}

p a {
  display: inline-block;
  vertical-align: baseline;
  padding: 0 4px;
  margin: 0;
  border-radius: 5px;
  text-decoration: none;
  line-height: 1.4
}

#contactStack {
  margin-top: -20px;
}

@media only screen and (max-width:1125px) {
  .content {
    max-width: 800px;
    margin: auto;
  }

  #projectHStack {
    flex: 1 1 auto;
    flex-direction: column;
  }

  #secondProjectStack {
    margin-top: 30px;
  }
}

@media only screen and (max-width:767px) {
  .content {
    max-width: 600px;
    justify-content: center;
    margin: auto;
  }

  #mainHStack {
    flex: 1 1 auto;
    flex-direction: column;
  }

  .content {
    margin-left: -30px;
  }

  p {
    font-size: 18px;
  }

  #card p {
    width: 300px;
  }

  #card {
    width: 320px;
  }

  #contactStack {
    margin-top: 0px;
  }

  h1 {
    font-size: 46px;
    font-family: Karla;
  }
}
