@media (prefers-color-scheme: light) {
    :root {
      --background: #F7F3ED;
      --text: #000000;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #2B2521;
      --text: #E6CFB3;
    }
  }

@font-face {
    font-family: 'karla';
    src: url('fonts/Karla.ttf');
  }

#article p {
    margin-top: -10px;
}

#article a {
    font-family: karla;
    font-size: 22px;
    text-decoration: underline;
    background-color: var(--background);
    margin-left:-5px;
}

#article {
    max-width: 60%;
    margin: auto;
    margin-bottom: 5px;
}

#article h3 {
  font-family: karla;
  margin-top: -10px;
  color: var(--text);
}

